@model GamesViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Explore card games</h2>
<a href="@Url.Action("Create", "Games")" class="btn btn-primary">New game</a>
<ul>
    @foreach(var game in Model.Games)
    {
        <li class="game-list-item">
            <img src="@Url.Action("Get", "Images", new { id = game.Id })" height="70"/>
            <a href="@Url.Action("Cards", "Games", new { gameId = game.Id })">@game.Name</a> 
        </li>
    }
</ul>
