################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CogsLite.Core/bin/Debug/netcoreapp2.0
/CogsLite.Core/obj
/CogsLite.MongoStore/bin/Debug/netcoreapp2.0
/CogsLite.MongoStore/obj/Debug/netcoreapp2.0
/CogsLite.MongoStore/obj
/CogsLite3/bin/Debug/netcoreapp2.0
/CogsLite3/obj
/CogsLite3/wwwroot/images/games
/.vs
