@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Welcome to cogs lite, this tool will allow you to manage decks for tabletop simulator.</p>
<div>@Html.ActionLink("Upload a card sheet", "Upload", "Home")</div>
<div>@Html.ActionLink("View cards", "Cards", "Home")</div>
