
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post" asp-controller="Home" asp-action="Login">
    <div class="form-group">
        <div class="col-md-10">
            <p>User Name:</p>
            <input type="text" name="username" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Password:</p>
            <input type="password" name="password" />
        </div>
    </div>    
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Login" />
        </div>
    </div>
</form>
